#main{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clock{
    position: relative;
    background: url(./images/clockblack.jpg);
    height: 330px;
    width: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

#hour{
    width: 9px;
    height: 75px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 28%;
    left: 49.2%;
    transform-origin: bottom;
}

#minutes{
    width: 6px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 49.4%;
    top: 20%;
    opacity: 0.7;
    transform-origin: bottom;

}

#seconds{
    width: 2px;
    height: 100px;
    background-color: #fd0a0a;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform-origin: bottom;
    
}

@media screen and (max-width: 400px) {
    #clock{
        width: 265px;
        height: 265px;
    }
    #hour{
        top: 28%;
        left: 49%;
        height: 58px;
    }
    #minutes,#seconds{
        left: 49.4%;
        top: 20%;
        height: 80px;
    }
}

